
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.chess-board{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 560px;
    height: 560px;
    padding: 10px;

}

.chess-board div{
    width: 100%;
    display: flex;
    justify-content: start;
}



button{
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
    border: 1px solid black;
    padding: 0px;
}

.chess-board div div{
    height: 72px;
    padding: 0px;
}

h1{
    color:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: -1;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#won{
    color: green;
    
}
#lose{
    color: red;
}


@media (max-width: 750px){

    .chess-board{
        width: 400px;
        height: 400px;
    
    }

    button{
        width: 50px;
        height: 50px;
    }

    h1{
        font-size: 70px;
    }

}

@media (max-width: 500px){

    .chess-board{
        width: 320px;
        height: 320px;
    
    }

    button{
        width: 40px;
        height: 40px;
    }

    h1{
        font-size: 55px;
    }

}

@media (max-width: 400px){

    .chess-board{
        width: 240px;
        height: 240px;
    
    }

    button{
        width: 30px;
        height: 30px;
    }

    h1{
        font-size: 40px;
    }

}